<div class="nested-fields">
	<div class="field">
		<p>曲名</p>
		<%= f.text_field :name, class: "form-control", placeholder: '曲名を入力してください' %>
		<p>曲順</p>
		<%= f.text_field :track, class: "form-control", placeholder: '曲順を入力してください' %>
	</div>
	<div class="links">
		<%= link_to_remove_association "曲を削除", f %>
	</div>
</div>