<h1>購入履歴一覧</h1>
<% @orders.each do |order| %>
	<div>
		<table>
			<tr>
			<th>購入履歴</th>
		    <%= order.created_at %>
			<%= order.total_price %>
			<%= order_item.number %>
		    <%= link_to "購入履歴詳細", order_path(current_user.id) %>
		    </tr>
	    </table>
	</div>
	<% end %>