<h1>購入履歴一覧</h1>
<div class="container">
	<div class="row">
		<table border="1" class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>購入日</th>
              		<th>合計金額</th>
            	</tr>
            </thead>
            <tbody>
            	<% @orders.each do |order| %>
            	<tr>
					<td>
						<p><%= order.created_at %></p>
					</td>
					<td>
						<p><%= order.total_price %></p>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<%= paginate @orders %>