<h1>LINK</h1>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1><%= link_to "商品一覧", items_path, class: 'btn btn-primary btn-lg btn-block' %></h1>
		</div>
    </div>
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<h1><%= link_to "ユーザー覧", admins_index_path, class: 'btn btn-primary btn-lg btn-block' %></h1>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<h1><%= link_to "注文一覧", admins_order_path, class: 'btn btn-primary btn-lg btn-block' %></h1>
    	</div>
    	<div class="col-md-4 col-md-offset-4">
    		<h1><%= link_to "商品新規登録", new_item_path, class: 'btn btn-primary btn-lg btn-block' %></h1>
    	</div>
    </div>
</div>