<h1>ユーザー一覧</h1>
<!-- 検索フォーム -->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<table class="table table-hover table-inverse">
				<tbody>
					<% @users.each do |k| %>
					<ul>
						<%= link_to user_path(k) do %>
						<li><%= k.name_last %><%= k.name_first %></li>
						<% end %>
					</ul>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- ページング　-->