<h1>LINK</h1>
<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-3">
			<%= link_to "商品一覧", items_path %>
		</div>
    	<div class="col-md-3 col-md-offset-3">
    		<%= link_to "ユーザー一覧", users_path %>
    	</div>
    </div>
</div>
<div class="container">
    <div class="row">
    	<div class="col-md-3 col-md-offset-3">
    		<%= link_to "注文一覧", new_order_path %>
    	</div>
    	<div class="col-md-3 col-md-offset-3">
    		<%= link_to "商品新規登録", new_item_path %>
    	</div>
    </div>
</div>
