<h1>購入履歴</h1>
	<!-- 検索フォーム -->
	<% @orders.each do |order| %>
	<div>
	    <%= order.created_at %>
		<%= order.total_price %>
		<%= order_item.number %>
	    <%= link_to "購入履歴詳細", order_path(current_user.id) %>
	</div>
	<% end %>

	<!-- ページング -->

