<h1>購入履歴</h1>
	<div>検索フォーム</div>
	<btn>検索</btn>

	 <div>

	　<% @orders.each do |order| %>

	    <div><% order.created_at %></div>
		<div><% order.total_price %></div>
		<div><% order_item.number %></div>
	    <btn><% link_to "購入履歴詳細", "#" %></btn>
	  <% end %>

	      <p><1.2.3.4.></p>

	 </div>