<div class="container">
	<h1 class="well item-show-title">商品詳細</h1>

    <div>

			<div class="jakesya img-circle"><%= attachment_image_tag item, :image %></div>

	          <div class="name-rist">
				<div>アーティスト<% artist.name %></div><br>
				<div>レーベル<% label.name %></div><br>
				<div>ジャンル<% item.genre_id %></div><br>
				<div>アルバム名<% item.name %></div>
              </div>
	<!--  eachを二つ使いたい-->
				<div class="songs">
				        <% @disc.zip(@song)each do |disc,song| %>
				          <div><% disc.name %></div>
				          <div><% song.name %></div>
				        <% end %>
				</div>

	<!-- ここまで    -->


				<div class="btn status">アルバム名<% item.sales_status %></div>

				<div class="go-cart"><%= link_to "カートに入れる", "#" %></div>


	</div>
</div>