// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
	float: right;
}

.top {
	width: 450px;
	float: left;
}
.well {
	background-color: lightblue;
}

